body {
  background-color: #ddd;
}

p, ul {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 17px;
  line-height: 30px;
}

p {
  padding: 8px 0;
}

.navbar {
  background-color: #febf04;
}
