body {
  background-color: #E9F5EF;
  font-family: "Comic Sans MS", "Helvetica", "lucida grande", "lucida sans unicode", "lucida", "Hiragino Sans GB", "Microsoft JHengHei", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  text-shadow: 0px 0px 0.1px #ccc; 
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Microsoft YaHei", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

#title {
  text-shadow: 5px 5px 20px #333;
  margin: 30px 0;
}

a:visited, a:hover, a:active, a:link, a {
  text-decoration: none;
  color: #22A386;
}

a:hover {
  color: #25465A;
  background-color: #ddd;
  border-radius: 5px;
  padding: 1px 15px 1px 15px;
}

::selection {
  background: #25465A;
  color: #fff;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1, h2, h3 {
    margin-top: 60px;
}

ul, ol {
  font-size: 17px;
}

h3.widget-title {
  margin: 0px;
}

p {
  padding: 8px 0;
  font-size: 17px;
  line-height: 30px;
}

@media (min-width:1370px){.container{width:1370px}}


@media (min-width:992px){.article {
  padding: 20px 50px 20px 50px;
}}

@media (min-width:1370px){.article {
  padding: 50px 120px 0px 120px;
}}


@media (min-width:1370px){.comments {
  padding: 100px;
}}

a.navbar-brand.logo:hover {

}

.article ol, .article ul {
  border: 3px #ddd;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
}

blockquote {
  border: 3px solid #ddd;
  border-left:3px solid #ddd;
  border-radius: 10px;
  background-color: #F4F9F5;
}

blockquote p {
  font-size: 15px;
  line-height: 20px;
}

.crayon-theme-arduino-ide {
  padding: 10px;
  border: 3px solid #ddd;
  border-radius: 10px;
}

.navbar {
  background-color: #febf04;
}

.panel-body, .navbar {
-moz-box-shadow:4px 4px 20px #333333; 
-webkit-box-shadow:4px 4px 20px #333333; 
box-shadow:4px 4px 20px #333333;
}

.aligncenter {
  display: block;
  margin:0 auto;
}

.aligncenter p.wp-caption-text {
  display: block;
  margin-left: auto;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

a.navbar-brand.logo:hover {
  padding: 15px;
}

code {
    background-color: #33545F;
    color: #ddd;
    margin: 0 5px;
}

.comment {
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	list-style: none;
}

.comment-list {
	padding: 0;
}

.comment-author {
	font-size: 15px;
	display: inline-block;
	border-style: solid;
	border-color: #ccc;
	border-radius: 5px;
	border-width: 1px;
	padding: 2px 5px;
}

.comment-reply {
	display: inline-block;
	margin-left: 5px;
	font-size: 12px;
}

.comment-meta {
	font-size: 15px;
	float: right;
	display: inline-block;
}

.comment-content {
	margin-left: 20px;
}

.textarea {
	width: 100%;
	border-radius: 10px;
	outline: none;
	padding: 10px;
}

#author.text, #mail.text {
	
	margin-left: 10px;
	border-radius: 3px;
	outline: none;
	padding: 0px 5px;
}