/* Base & Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font-size: 18px;
    font-family: "Noto Sans SC", sans-serif;
    background-color: #f9f8f6;
    color: #2b2b2b;
    line-height: 1.8;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: subpixel-antialiased;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif SC", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 600;
}

b, strong {
    font-weight: bold;
    color: #000;
}

em, i {
    font-style: italic;
}

a, #title, #post-list a:hover, #title:hover {
    text-decoration: none;
    color: #3d5467;
    transition: all 0.15s ease;
}

p a {
    color: #3d5467;
}

#post-nav a, #post-list a {
    transition: all 0.15s ease;
}

::selection {
    background: #25465A;
    color: #fff;
}

#post-body, p {
    text-align: justify;
    text-justify: inter-ideograph;
    margin-bottom: 1.4em;
}

#post-body p > a {
    word-break: break-word;
    white-space: pre-wrap;
}

blockquote {
    quotes: none;
    padding-left: 15px;
    border-left: 3px solid #eee;
    margin: 20px 20px 20px 27px;
    color: #777;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

code {
    border-radius: 5px;
    margin: 0 3px;
    padding: 0 3px;
    background-color: #eee;
}

pre code {
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 12px;
    line-height: 1.5em;
    font-family: monaco, consolas, monospace;
}

/* Icons */
@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.eot#iefix') format('embedded-opentype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
}

.icon-facebook:before { content: '\e802'; }
.icon-facebook-squared:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-twitter-1:before { content: '\e804'; }
.icon-facebook-circled:before { content: '\e805'; }
.icon-twitter-circled:before { content: '\e806'; }
.icon-facebook-rect:before { content: '\e803'; }

/* Layout & Components */
#wrapper {
    max-width: 600px;
    margin: 0 auto;
}

#wrapper.home {
    max-width: 600px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.hidden {
    display: none;
}

/* Nav */
nav.main-nav {
    background: transparent;
    margin: 20px auto;
    text-align: right;
    z-index: 100;
    max-width: 800px;
}

nav.main-nav a {
    top: 8px;
    right: 6px;
    padding: 8px 12px;
    color: #3d5467;
    font-size: 18px;
    line-height: 1.35;
    border-radius: 3px;
}

.main-nav span:first-child {
    display: none;
}

nav.main-nav a.cta {
    margin-left: 0px;
}

/* Profile */
.profile {
    margin: 70px 0px;
}

.profile #wrapper {
    max-width: 680px;
    margin: 0 auto;
    padding: 40px 20px;
}

.profile #header {
    text-align: center;
    position: relative;
}

.profile #avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile h1 {
    font-weight: bold;
    font-size: 60px;
    color: #222;
}

.profile h2 {
    font-size: 20px;
    color: #aaa;
    margin-top: 10px;
    font-style: normal;
}

/* Home */
.home #avatar {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.home h1 {
    font-size: 30px;
    color: #222;
    font-weight: bold;
}

.home h2 {
    font: italic 19px/1.3em;
    color: #bbb;
}

/* Post */
.post {
    margin: auto;
}

.post header {
    text-align: center;
    margin: 70px 0;
}

.post h1 {
    margin-top: 60px;
    margin-bottom: 30px;
    color: #3e3e3e;
    font-size: 1.8em;
    font-weight: bold;
    line-height: normal;
}

.post h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.6em;
    font-weight: bold;
    color: #2b2b2b;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.post h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 1.35em;
    font-weight: bold;
    color: #2b2b2b;
}

.post h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.15em;
    font-weight: bold;
    color: #2b2b2b;
}

.post h5, .post h6 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.0em;
    font-weight: bold;
    color: #555;
}

.post h1, h3, h4, h5, p, #post-body ul, #post-list li, #post-body ol, pre {
    margin-bottom: 20px;
}

.post h2.headline {
    font: normal 13px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: -5px 0 0 0;
    color: #b2b9be;
    font-size: 13px;
    display: inline-block;
}

.post h2.headline .tags {
    font: normal 11px/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 5px 0 40px 0;
    color: #b2b9be;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
}

#post-body > ul {
    margin: 10px 20px;
}

.this-post {
    text-align: right;
}

.this-post a, .this-post a:hover {
    color: #888;
}

#title {
    display: inline-block;
    line-height: 100%;
    font-weight: bold;
    font-size: 19px;
    margin: 0;
    padding-bottom: 20px;
}

.description {
    float: right;
    font: italic 14px/1.4em;
    color: #aaa;
}

/* Lists */
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-position: outside;
    margin-left: 1.5em;
}

ul > li {
    list-style-type: disc;
}

/* Images */
.wp-block-image {
    margin: 1em;
}

.wp-block-image:not(.is-style-rounded) img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.wp-block-image img {
    height: 100%;
    width: 100%;
}

figure {
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    max-width: 747px;
    margin: auto;
}

figcaption {
    color: #AAA;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

img {
    text-align: center;
    max-width: 90%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-text {
    text-align: center;
    margin: 0px auto;
    color: #999;
    font-size: 14px;
    user-select: none;
}

/* Badge */
#badge {
    position: absolute;
    bottom: 8px;
    right: 8px;
    height: 48px;
    width: 48px;
}

/* Tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 40px 0;
    font-size: 13px;
}

th, td {
    text-align: left;
    padding-right: 20px;
    vertical-align: top;
}

table td, td {
    border-spacing: none;
    border-style: solid;
    padding: 10px 15px;
    border-width: 1px 0 0 0;
}

tr > td {
    border-top: 1px solid #eaeaea;
}

tr:nth-child(odd) > td {
    background: #fcfcfc;
}

thead th, th {
    text-align: left;
    padding: 10px 15px;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #444;
    border-bottom: 1px solid #dadadc;
    cursor: default;
    white-space: nowrap;
}

hr {
    display: block;
    border: none;
    height: 1px;
    margin: 40px auto;
    background: #eee;
}

/* Post List */
#post-list li, #archive-list li {
    list-style-type: none;
}

#post-list li:last-child, #archive-list li:last-child {
    margin-bottom: 0;
}

#post-list li + li {
    padding-top: 20px;
}

#post-list a {
    color: #333;
    display: block;
    font: bold 19px/1.7 "Helvetica Neue", helvetica, Arial, sans-serif;
}

#post-list .dates {
    float: right;
    position: relative;
    top: 1px;
    font: 300 17px/1.8 "Helvetica Neue", helvetica, Arial, sans-serif;
    color: #bbb;
}

#post-list h2 {
    font: normal 17px/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #aaa;
    margin-top: 2px;
}

#post-list-footer {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 100px;
}

/* Post Meta */
#post-meta {
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #eee;
    padding-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    color: #444;
    border-bottom: 1px solid #eee;
}

#post-meta div span {
    color: #aaa;
    font-weight: bold;
    display: block;
}

#post-meta div span.dark {
    color: #1E2025;
}

#post-meta div {
    margin: 0 25px 0 0;
    float: left;
}

#post-meta img.avatar {
    height: 36px;
    width: 36px;
    float: left;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 20px;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
}

/* Post Navigation */
#post-nav {
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 40px;
}

#post-nav span {
    transition: all 0.1s linear;
    position: relative;
}

#post-nav span.prev { float: left; }
#post-nav span.next { float: right; }

.shuxian { color: darkgray; }

#post-nav span .arrow {
    position: relative;
    padding: 1px;
}

#post-nav span.prev:hover .arrow { left: -4px; }
#post-nav span.next:hover .arrow { right: -4px; }
#post-nav span.prev:hover { left: -3px; }
#post-nav span.next:hover { right: -3px; }

#post-nav span:first-child:before, .children span:before {
    content: "";
    display: none;
}

/* Archive */
h1.archive {
    margin-bottom: 0px;
}

h2.month {
    width: 100%;
    font: bold 13px/1 "Helvetica Neue", helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.list-title h2 {
    text-align: center;
    color: #aaa;
    font-weight: bold;
    font-size: 35px;
}

#archive-list a {
    display: block;
    font: bold 17px/1.7 "Helvetica Neue", helvetica, Arial, sans-serif;
    color: #333;
}

#archive-list .dates {
    float: right;
    position: relative;
    top: 1px;
    font: 400 17px/1.7 "Helvetica Neue", helvetica, Arial, sans-serif;
    color: #bbb;
}

#archive-list li a:hover, #archive-list li:hover .dates {
    color: #3d5467;
}

#archive-link {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    padding: 3px 10px 6px;
    box-shadow: 0 0 0 1px hsla(207, 83%, 80%, 1);
}

#archive-link:hover {
    background: #3d5467;
    color: #fff;
    box-shadow: 0 0 0 1px #3d5467;
}

#archive-link span {
    position: relative;
    top: 0;
    font-size: 17px;
}

.archive {
    margin: 0 0 50px 0;
    font-size: 18px;
}

.archive .post-item {
    position: relative;
    display: flex;
    align-items: baseline;
    margin: 10px 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #bbb;
}

.archive .post-time {
    text-align: right;
    margin: 0;
    color: #8a8a8a;
    font-size: 0.7em;
}

.archive h2 {
    font-size: 25px;
    margin: 30px 0 20px 0;
}

.archive > ul {
    margin-left: 20px;
}

.archive .post-link {
    color: #8a8a8a;
    flex: 1;
    font-size: 18px;
    padding-right: 1em;
}

.archive .post-item:hover, .archive .post-item:hover .post-link {
    color: #3d5467;
    transition: 0.3s ease-out;
}

#post-list.archive.readmore {
    margin-top: 70px;
}

#post-list.archive.readmore li {
    margin-bottom: 0px;
}

#post-list.archive.readmore h3 {
    font: 400 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 30px;
}

#post-list.archive.readmore a {
    font: 400 16px/1.6 "Helvetica Neue", helvetica, Arial, sans-serif;
    color: #3d5467;
}

#post-list.archive.readmore a:hover {
    opacity: 0.8;
}

#post-list.archive.readmore .dates {
    font: 400 16px/1.6 "Helvetica Neue", helvetica, Arial, sans-serif;
}

/* Sharing */
#sharing {
    float: right;
    margin: -2px;
}

#sharing a {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    margin-left: 2px;
    display: inline-block;
    vertical-align: middle;
}

#sharing a:hover { opacity: 0.8; }
#sharing a.facebook { background: #4361b3; }
#sharing a.twitter { background: #4fafed; }

/* Footer */
#footer {
    margin-top: 100px;
}

p.small {
    color: #bbb;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 20px;
}

.copyright {
    margin: 0 0 100px 0;
}

/* Comments */
#disqus_thread, #ds-thread {
    margin-top: 100px;
}

#comments ul > li {
    list-style-type: none;
}

.comment-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 0.9em;
}

.comment-right {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 0.8em;
}

.comment-list li {
    border-top: 1px solid #eee;
    padding: 5px;
    margin: 20px 0px 20px 10px;
}

.comment-author {
    padding: 5px;
}

.comment-meta {
    color: #888;
    margin: 0 10px;
}

.comment-content p {
    margin: 0 10px 0 20px;
    font-family: sans-serif;
    font-size: 0.9em;
}

.reply-1 textarea {
    width: 100%;
    padding: 10px;
    height: 200px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #888;
    border-color: #eee;
    border-radius: 10px;
    border-width: 3px;
    overflow: auto;
    outline: none;
    box-shadow: none;
}

.reply-2 {
    color: #888;
}

.reply-2 input {
    margin: 0 10px;
    width: 40%;
    font-size: 16px;
    color: #888;
    border-bottom: 1px solid #dbdbdb;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    overflow: auto;
    outline: none;
    box-shadow: none;
}

.reply-2 button {
    color: #888;
    padding: 2px 20px;
    font-size: 15px;
}

/* Pagination */
.pagination {
    float: right;
    color: #8a8a8a;
}

.pagination li {
    list-style-type: none;
    display: inline;
    margin: 0 auto;
    padding: 0 5px;
}

/* Custom Additions */
#social {
    text-align: center;
}

a.symbol {
    color: #cdd4da;
    font-size: 2rem;
    text-decoration: none;
    margin-right: 0.3rem;
}

a.symbol:hover {
    color: #BCD4DA;
}

.fa.fa-heart:hover {
    color: #ff3356;
    transition: 0.7s ease-out;
    cursor: pointer;
}

/* Table of Contents */
#toc {
    line-height: 1em;
    font-size: .7em;
    word-wrap: break-word;
    padding: 8px;
    padding-left: 16px;
    padding-bottom: 14px;
    margin: 0 0 25px 0;
    display: block;
    color: #808080;
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 1px #E4EBF2;
    border-radius: 4px;
    overflow: hidden;
    font-family: 'Menlo', 'Monaco', Courier, monospace;
}

#TableOfContents {
    margin: 1em 0 0 0;
    overflow-x: auto;
    word-wrap: normal;
    word-break: break-all;
    white-space: nowrap;
}

#TableOfContents ul {
    list-style-type: none;
    margin: 0;
    padding: 0 .5em;
}

#TableOfContents ul li {
    list-style-type: none;
    line-height: 1.7em;
}

#TableOfContents > ul, #TableOfContents > ul > li > ul {
    padding: 0;
}

#TableOfContents a code {
    font-family: Menlo, Monaco, Courier;
    background-color: #fff;
    font-size: 11px;
    padding: 2px 3px;
}

/* Pages */
#wrapper.tags {
    max-width: 768px;
    padding-top: 0;
}

.page-tags {
    text-align: center;
}

.page-tags ul li {
    margin: 10px 15px;
    display: inline-block;
    font-size: 1.2em;
}

.page-tags ul li a {
    color: #8a8a8a;
}

.page-tags ul li a span {
    font-size: .9em;
}

.page-tags ul li a:hover {
    color: #3d5467;
}

.tags a {
    color: #8a8a8a;
}

.oldsyntax {
    font-size: 0.8em;
    border: solid 2px;
    border-color: darkgrey;
    border-radius: 0.5em;
    padding: 1em;
}

.summary {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px;
    max-width: 747px;
}

.summary-content h1, 
.summary-content h2, 
.summary-content h3, 
.summary-content h4, 
.summary-content h5, 
.summary-content h6 {
    font-size: 1.1em !important;
    font-weight: bold;
    color: #444;
    margin: 1.5em 0 0.5em 0;
    border: none;
    padding: 0;
    line-height: 1.6em;
}

.summary-content h1::before, 
.summary-content h2::before {
    content: "【 ";
}

.summary-content h1::after, 
.summary-content h2::after {
    content: " 】";
}

.summary h1, h2 {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.4em;
}

.summary-title {
    margin: 0;
    line-height: 1.2;
    display: inline;
}

.summary-title a, .summary-title a:hover {
    color: inherit;
    padding-left: 10px;
    border-left: 5px solid #3d5467;
}

.summary-content {
    display: inline-block;
    color: #333;
    margin-top: 20px;
    text-align: justify;
}

.summary-read-more {
    margin: 15px 0 20px 0;
}

.about-days {
    float: right;
    border-radius: 5px;
    background-color: #888;
    padding: 5px 10px;
    color: #eee;
}

.footnotes {
    font-size: 14px;
    margin-top: 5em;
}

.footnotes ol {
    margin: 1.618rem 0 0 !important;
    padding: 0 1rem 0 2rem !important;
}

.footnotes p {
    line-height: 0;
}

/* Media Queries */
@media (max-width: 700px) {
    nav.main-nav {
        padding: 20px 10px 0 0;
        background: transparent;
        margin: 0 auto;
        text-align: right;
        z-index: 100;
    }
    nav.main-nav a {
        top: 8px;
        right: 6px;
        padding: 8px 8px;
        color: #3d5467;
        font-size: 13px;
        line-height: 1.35;
        border-radius: 3px;
    }
}

@media screen and (max-width: 768px) {
    .archive .post-time {
        margin: 5px 0;
        width: auto;
        font-size: 13px;
        display: block;
    }
}

@media screen and (max-width: 540px) {
    #wrapper {
        padding: 20px 20px 20px 20px;
    }
    #header {
        margin-bottom: 60px;
    }
    .post {
        margin: 40px 0;
    }
    #footer {
        margin-top: 60px;
    }
    #post-list, #archive-list {
        margin-top: 0;
    }
    #post-meta {
        margin-top: 60px;
    }
    #title {
        font-size: 17px;
    }
    #post-list .dates {
        display: none;
    }
    #post-list-footer {
        margin-top: 20px;
        padding-top: 40px;
    }
    h1 {
        font-size: 26px;
    }
    .post h2.headline {
        font-size: 13px;
    }
    .post h1 {
        font-size: 26px;
    }
    .post h2 {
        font-size: 20px;
    }
    .post h3 {
        font-size: 16px;
    }
    .reply-2 input {
        width: 90%;
    }
}

@media (max-width: 324px) {
    nav.main-nav a.cta {
        display: none;
    }
}